
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h2>Welcome @Session["Name"]</h2>
    <h3>Institution Id @Session["Id"]</h3>
</head>
<body>
    <div <div class="box-3">
    <div class="btn btn-success" onclick="location.href='@Url.Action("UpdateDetails","InstitutesRegistration")'">
        <span>View Profile</span>
    </div>
</div>
</body>
</html>
